<launch>
   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="controller_frequency" value="15.0"/>
    <rosparam file="$(find arebot_navigation)/params/costmap/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find arebot_navigation)/params/costmap/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find arebot_navigation)/params/costmap/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find arebot_navigation)/params/costmap/global_costmap_params.yaml" command="load" /> 
    <!--rosparam file="$(find bot_2dnav_bringup)/params/navigation/planner/base_local_planner_params.yaml" command="load" /-->
    <rosparam file="$(find arebot_navigation)/params/planner/teb_local_planner_params.yaml" command="load" />
    <rosparam file="$(find arebot_navigation)/params/planner/costmap_converter_params.yaml" command="load" />
  </node>
</launch>
