#KERNEL=="ttyS4",SYMLINK+="lidar",MODE="0777"
KERNEL=="ttyUSB*",ATTRS{idProduct}=="ea60",ATTRS{idVendor}=="10c4",SYMLINK+="lidar",MODE="0777"
KERNEL=="ttyACM*",ATTRS{interface}=="EduRobot CDC",ATTRS{bInterfaceNumber}=="00",SYMLINK+="smart_car",MODE="0777"
